body {
      margin-top: 5px;
      background-size:cover;
      background-color:rgba(230,230,230,0.6);
      color: rgba(30,30,30,1);
      }
a {
     font-family: 'Fjalla One', serif;
     font-size: 17px; 
     font-width: bold;
     color: rgba(120,20,20,0.9);		    
 }
.text-small{
      padding: 5px 2px 5px 2px;
      background-color:rgba(255,255,255,0.9);
      font-size: 15px;
      color: rgba(20,20,20,0.8);
}

h1 {
      font-family: 'Flavors', cursive,serif;
      color: rgba(0,20,255,1);
      font-size: 50px;
}
h4 { color: rgba(10,10,10,0.9) ;
}
.header {
     background-color:rgba(100,200,200,0.4);
     padding-top: 15px;
     padding-right: 40px;
     padding-right:bottom: 15px;
}
.findme li {
     display: inline;
     font-size:20px;
}
.findme a {
 color: rgba(150,120,20,0.9);
 font-family: 'Flavors', cursive,serif;
 font-size:18px;
 }
.email {
  font-family: cursive,serif;
  font-size: 18px;
  }
.name {
    padding-right:40px;}
.nav-list {
    margin-top:1px;
   background-color: rgba(220,220,220,0.8);
}

.greeting {
    margin-top:1px;
    background-color: rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 10px;
    }
.greeting-left {
  padding: 5px 0px 5px 15px;
}
.greeting-small {
   margin: 5px;
   color:rgba(30,30,30,0.7);
}
.greeting-right{
   padding-top:30px;
   padding-right: 15px;
   }
.row-height {
     height:380px;}

.project {
        margin-top:5px;
	padding: 20px;
        background-color:rgba(100,200,200,0.3);
        border-radius: 10px;
	color: rgba(120,20,20,0.9);
 }
.research {
  margin-top:5px;
  padding: 20px;
  background-color:rgba(200,200,200,0.5);
  border-radius: 10px;
  color: rgba(120,20,20,0.9);
}
.subhead {
     padding-left:5px;
}

.footnote { 
            margin-top: 5px;
	    background-color:rgba(100,200,200,0.3);   
	    padding: 20px;
	    margin-bottom:10px;
	    border-radius: 10px;

 }
.links { 
	margin: 0 auto;
}

.carousel-inner {
	width: 85%;
	height:440px;
	margin: 0 auto;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img { 
       width: 60%;
       margin: auto;
  }
.carousel-control {
border-radius: 10px;
}
.cvdownload {
	width: 15%; 
	margin:5px 0 0px auto;

}
.researchimg {padding: 0 10px 0 10px;
}
.researchimg p {	  
	   color: rgba(120,20,20,0.9);
           background: rgba(120,200,200,1);
           background: linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,.1));
	   background: -webkit-linear-gradient(bottom, rgba(120,200,200,0.7), rgba(120,200,200,0.3));
           background: -moz-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,.1));
	   padding: 10px;
	   width: 96%;
	   height: 15%;
	   font-size: 20px;
           text-align: justify;		
	   line-height: 20px;
           border-radius: 5px;
	   position: absolute;
	   bottom: 0;
	   margin:0 auto;																		                        transition: height .5s;
	   -webkit-transition: height .5s;
	   -moz-transition: height .5s;
	   
	   }

.researchimg p small {
	opacity:0 ;}

.show-description p{
	height: 100px;
	background: rgba(120,200,200,0.3);}
.show-description  p  small {
	opacity: 1;}

